In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import os

# Load Data

In [2]:
def load_scenario_data(h5_file_path, scenario_num):
    key = f"scenario_{scenario_num}/data"
    with pd.HDFStore(h5_file_path, mode='r') as store:
        if key not in store:
            return None  # Scenario not found
        df = store[key]
        metadata = store.get_storer(key).attrs.metadata
    return {"dataset": df, "metadata": metadata}

In [3]:
store_files = [
    "../synthetic_data/RCT_0_5.h5",
    "../synthetic_data/RCT_0_05.h5",
    "../synthetic_data/e_X.h5",
    "../synthetic_data/e_X_U.h5",
    "../synthetic_data/e_X_no_overlap.h5",
    "../synthetic_data/e_X_info_censor.h5",
    "../synthetic_data/e_X_U_info_censor.h5",
    "../synthetic_data/e_X_no_overlap_info_censor.h5"
]

experiment_setups = {}

for path in store_files:
    base_name = os.path.splitext(os.path.basename(path))[0]  # e.g. RCT_0_5
    scenario_dict = {}
    for scenario in range(1, 11):
        try:
            result = load_scenario_data(path, scenario)
            if result is not None:
                scenario_dict[f"scenario_{scenario}"] = result
        except Exception as e:
            # Log or ignore as needed
            continue
    experiment_setups[base_name] = scenario_dict

In [4]:
experiment_setups['RCT_0_5']['scenario_1']['dataset'].head()

,id,observed_time,event,W,X1,X2,X3,X4,X5,U1,U2,T0,T1,T,C
0,0,0.054267,1,0,0.135488,0.887852,0.932606,0.445568,0.388236,0.151609,0.205535,0.054267,0.061394,0.054267,1.803019
1,1,0.732630,1,1,0.257596,0.657368,0.492617,0.964238,0.800984,0.597208,0.255785,0.228566,0.732630,0.732630,1.689546
2,2,0.162856,1,1,0.455205,0.801058,0.041718,0.769458,0.003171,0.370382,0.223214,0.176016,0.162856,0.162856,1.256329
3,3,0.050340,1,1,0.292809,0.610914,0.913027,0.300115,0.248599,0.038464,0.409829,0.381909,0.050340,0.050340,1.241777
4,4,0.524607,1,0,0.666392,0.987533,0.468270,0.123287,0.916031,0.342961,0.791330,0.524607,1.121968,0.524607,1.516613

In [5]:
experiment_repeat_setups = pd.read_csv("../synthetic_data/idx_split.csv").set_index("idx")
experiment_repeat_setups

,random_idx0,random_idx1,random_idx2,random_idx3,random_idx4,random_idx5,random_idx6,random_idx7,random_idx8,random_idx9
idx,,,,,,,,,,
0,47390,5618,14210,46970,4203,16369,24535,45204,45725,45885
1,38566,46218,39045,7253,22759,34401,28889,38471,45822,37471
2,32814,20226,40012,4854,27351,39165,25359,14516,25717,29860
3,41393,39492,27153,19041,33009,19822,21243,41228,955,23901
4,12564,17823,48976,18458,22756,28169,45851,36620,29824,12711
...,...,...,...,...,...,...,...,...,...,...
49995,15948,39245,30779,48178,45056,4892,528,7486,31042,38267
49996,11102,29624,40779,3136,45904,41903,45682,36621,33204,38070
49997,16338,8986,19293,35651,10172,17947,38843,18310,2765,12581
49998,32478,32134,11955,36939,33266,41932,43910,21691,40801,33527
49999,23102,2305,33545,20070,20726,1875,26988,24790,17795,39733

# EXPERIMENT CONSTANTS

In [6]:
num_repeats_to_include = 10  # max 10
num_training_data_points = 500 # max 45000
test_size = 5000
imputation_method = 'Pseudo_obs' # 'Pseudo_obs', 'Margin', 'IPCW-T'
meta_learner_type = 'x_learner'
load_imputed_values = True
imputed_times_path = f"../synthetic_data/imputed_times_lookup.pkl"

In [7]:
output_pickle_path = f"results/{meta_learner_type}_{imputation_method}_num_repeats_{num_repeats_to_include}_train_size_{num_training_data_points}.pkl"

# Run Experiments

In [8]:
import sys
import os

# Add the parent directory of "notebooks" to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

from models_causal_impute_meta.meta_learners import TLearner, SLearner, XLearner
from models_causal_impute_meta.survival_eval_impute import SurvivalEvalImputer
import time
import pickle
import numpy as np
import pandas as pd
from tqdm import tqdm

In [9]:
def prepare_data_split(dataset_df, experiment_repeat_setups, random_idx_col_list, num_training_data_points=5000, test_size=5000):
    split_results = {}

    for rand_idx in random_idx_col_list:
        random_idx = experiment_repeat_setups[rand_idx].values
        test_ids = random_idx[-test_size:]
        train_ids = random_idx[:min(num_training_data_points, len(random_idx) - test_size)]

        X_cols = [c for c in dataset_df.columns if c.startswith("X") and c[1:].isdigit()]
        
        train_df = dataset_df[dataset_df['id'].isin(train_ids)]
        test_df = dataset_df[dataset_df['id'].isin(test_ids)]

        X_train = train_df[X_cols].to_numpy()
        W_train = train_df["W"].to_numpy()
        Y_train = train_df[["observed_time", "event"]].to_numpy()

        X_test = test_df[X_cols].to_numpy()
        W_test = test_df["W"].to_numpy()
        Y_test = test_df[["observed_time", "event"]].to_numpy()

        cate_test_true = (test_df["T1"] - test_df["T0"]).to_numpy()

        split_results[rand_idx] = (X_train, W_train, Y_train, X_test, W_test, Y_test, cate_test_true)

    return split_results

In [10]:
random_idx_col_list = experiment_repeat_setups.columns.to_list()[:num_repeats_to_include]

print("Output results path:", output_pickle_path)

base_regressors = ['ridge', 'lasso', 'rf', 'gbr', 'xgb']

results_dict = {}

for setup_name, setup_dict in tqdm(experiment_setups.items(), desc="Experiment Setups"):

    results_dict[setup_name] = {}

    for scenario_key in tqdm(setup_dict, desc=f"{setup_name} Scenarios"):
        dataset_df = setup_dict[scenario_key]["dataset"]
        split_dict = prepare_data_split(dataset_df, experiment_repeat_setups, random_idx_col_list, num_training_data_points, test_size)

        # Initialize results dictionary for this setup and scenario
        results_dict[setup_name][scenario_key] = {}

        # For each base model, we will run the TLearner
        for base_model in tqdm(base_regressors, desc="Base Models", leave=False):
            # print(f"Running {base_model} for {setup_name} - {scenario_key}")
            
            # Store placeholder for later population
            results_dict[setup_name][scenario_key][base_model] = {}
            
            start_time = time.time()

            for rand_idx in random_idx_col_list:
                X_train, W_train, Y_train, X_test, W_test, Y_test, cate_test_true = split_dict[rand_idx]

                Y_train_imputed, Y_test_imputed = None, None
                if load_imputed_values:
                    # Load imputed values
                    with open(imputed_times_path, "rb") as f:
                        imputed_times = pickle.load(f)

                    # Get imputed values for the current random index
                    imputed_results = imputed_times.get(imputation_method, {}).get(setup_name, {}).get(scenario_key, {}).get(num_training_data_points, {}).get(rand_idx, {})
                    Y_train_imputed = imputed_results.get("Y_train_imputed", None)
                    Y_test_imputed = imputed_results.get("Y_test_imputed", None)
                
                # If imputed values are not loaded, use the original Y_train and Y_test
                if Y_train_imputed is None:
                    # impute the missing values
                    print(f"[Train] Imputing missing values for {setup_name} - {scenario_key} - {base_model} - {rand_idx}")
                    survival_imputer = SurvivalEvalImputer(imputation_method=imputation_method, verbose=False)
                    Y_train_imputed, Y_test_imputed = survival_imputer.fit_transform(Y_train, Y_test)
                
                if Y_test_imputed is None:
                    # impute the missing values
                    print(f"[Test] Imputing missing values for {setup_name} - {scenario_key} - {base_model} - {rand_idx}")
                    survival_imputer = SurvivalEvalImputer(imputation_method=imputation_method, verbose=False)
                    _, Y_test_imputed = survival_imputer.fit_transform(Y_train, Y_test, impute_train=False)
                
                if meta_learner_type == 't_learner':
                    learner = TLearner(base_model_name=base_model)
                elif meta_learner_type == 's_learner':
                    learner = SLearner(base_model_name=base_model)
                elif meta_learner_type == 'x_learner':
                    learner = XLearner(base_model_name=base_model)
                else:
                    raise ValueError(f"Unknown meta-learner type: {meta_learner_type}")
                
                learner.fit(X_train, W_train, Y_train_imputed)
                mse_test, cate_test_pred, ate_test_pred = learner.evaluate(X_test, cate_test_true, W_test)

                # Evaluate base survival models on test data
                base_model_eval = learner.evaluate_test(X_test, Y_test_imputed, W_test)

                # Save results
                results_dict[setup_name][scenario_key][base_model][rand_idx] = {
                    "cate_true": cate_test_true,
                    "cate_pred": cate_test_pred,
                    "ate_true": cate_test_true.mean(),
                    "ate_pred": ate_test_pred,
                    "cate_mse": mse_test,
                    "ate_bias": ate_test_pred - cate_test_true.mean(),
                    "base_model_eval": base_model_eval, # Store base model evaluation results
                }

            end_time = time.time()

            # Save results to the setup dictionary
            avg = results_dict[setup_name][scenario_key][base_model]
            base_model_eval_performance = {
                                            base_model_k: 
                                            {
                                                f"{stat}_{metric_j}": func([
                                                    avg[i]['base_model_eval'][base_model_k][metric_j] for i in random_idx_col_list
                                                    if i in avg
                                                ])
                                                for metric_j in metric_j_dict
                                                for stat, func in zip(['mean', 'std'], [np.nanmean, np.nanstd])
                                            }
                                            for base_model_k, metric_j_dict in avg[list(avg.keys())[0]]['base_model_eval'].items()
                                        }

            results_dict[setup_name][scenario_key][base_model]["average"] = {
                    "mean_cate_mse": np.mean([avg[i]["cate_mse"] for i in random_idx_col_list]),
                    "std_cate_mse": np.std([avg[i]["cate_mse"] for i in random_idx_col_list]),
                    "mean_ate_pred": np.mean([avg[i]["ate_pred"] for i in random_idx_col_list]),
                    "std_ate_pred": np.std([avg[i]["ate_pred"] for i in random_idx_col_list]),
                    "mean_ate_true": np.mean([avg[i]["ate_true"] for i in random_idx_col_list]),
                    "std_ate_true": np.std([avg[i]["ate_true"] for i in random_idx_col_list]),
                    "mean_ate_bias": np.mean([avg[i]["ate_bias"] for i in random_idx_col_list]),
                    "std_ate_bias": np.std([avg[i]["ate_bias"] for i in random_idx_col_list]),
                    "runtime": (end_time - start_time) / len(random_idx_col_list),
                    "base_model_eval": base_model_eval_performance
                }

            # Save progress to disk
            # with open(output_pickle_path, "wb") as f:
                # pickle.dump(results_dict, f)
            
            break
        break
    break

Output results path: results/x_learner_Pseudo_obs_num_repeats_10_train_size_500.pkl

Experiment Setups:   0%|          | 0/8 [00:00<?, ?it/s]

RCT_0_5 Scenarios:   0%|          | 0/5 [00:06<?, ?it/s]
Experiment Setups:   0%|          | 0/8 [00:06<?, ?it/s]

In [11]:
results_dict

{'RCT_0_5': {'scenario_1': {'ridge': {'random_idx0': {'cate_true': array([ 0.01964673,  0.67548137,  0.01256466, ..., -0.08345062,
             0.20826006, -0.22013693]),
     'cate_pred': array([0.322864  , 0.05715146, 0.07463621, ..., 0.14558426, 0.26351616,
            0.31013753]),
     'ate_true': 0.12915102003284332,
     'ate_pred': 0.1964462118366355,
     'cate_mse': 0.6957057935431328,
     'ate_bias': 0.06729519180379218,
     'base_model_eval': {'mu1': {'mae': 0.4038342438314648,
       'r2': 0.06901228503301671},
      'mu0': {'mae': 0.2732396438908264, 'r2': 0.05553168254251639},
      'tau0': {'mae': 0.2731728968341871, 'r2': 0.09351356163528213},
      'tau1': {'mae': 0.4007390288386666, 'r2': 0.0009202576097605553},
      'propensity': {'auc': 0.4871026212492847, 'f1': 0.5466595020598245}}},
    'random_idx1': {'cate_true': array([ 0.04373459, -0.01348651, -0.12558549, ...,  2.88443699,
            -0.03312028,  0.24602149]),
     'cate_pred': array([ 0.0618785 , -0.00757634,  0.16259695, ...,  0.10593511,
             0.02583559, -0.01900987]),
     'ate_true': 0.12449698781077848,
     'ate_pred': 0.04213053187055333,
     'cate_mse': 0.7262979642006363,
     'ate_bias': -0.08236645594022515,
     'base_model_eval': {'mu1': {'mae': 0.33604761634484404,
       'r2': 0.08159783128160325},
      'mu0': {'mae': 0.2765757092551736, 'r2': 0.05760638445331412},
      'tau0': {'mae': 0.27784711479683144, 'r2': 0.009672601794794788},
      'tau1': {'mae': 0.3351846268737316, 'r2': 0.014469139289191912},
      'propensity': {'auc': 0.5008317601330816, 'f1': 0.5425764192139738}}},
    'random_idx2': {'cate_true': array([-0.13083455, -0.25443191,  0.22322109, ..., -0.04042443,
             0.68333127, -0.12309126]),
     'cate_pred': array([0.08335886, 0.17455641, 0.14838976, ..., 0.07151122, 0.2445476 ,
            0.10095021]),
     'ate_true': 0.11320535412052017,
     'ate_pred': 0.15566401037152508,
     'cate_mse': 0.5843032894265889,
     'ate_bias': 0.04245865625100491,
     'base_model_eval': {'mu1': {'mae': 0.35696954885178206,
       'r2': 0.0970870142229554},
      'mu0': {'mae': 0.26973962636043, 'r2': 0.030050273590835674},
      'tau0': {'mae': 0.2726671430189974, 'r2': 0.004548491363134288},
      'tau1': {'mae': 0.35897634520956095, 'r2': 0.02090732782751592},
      'propensity': {'auc': 0.5100884145273169, 'f1': 0.5049685662137497}}},
    'random_idx3': {'cate_true': array([-0.13083455, -0.29553616,  0.61790216, ..., -0.03312028,
             1.12117897, -0.21827961]),
     'cate_pred': array([ 0.02309727,  0.18033173,  0.26089682, ...,  0.18118638,
             0.17266057, -0.00793415]),
     'ate_true': 0.13422576870599365,
     'ate_pred': 0.10078262172345667,
     'cate_mse': 0.6969446498141421,
     'ate_bias': -0.033443146982536975,
     'base_model_eval': {'mu1': {'mae': 0.3235920522334324,
       'r2': 0.08540845789665052},
      'mu0': {'mae': 0.23672543661395104, 'r2': 0.05672049390703682},
      'tau0': {'mae': 0.24005360164716302, 'r2': 0.0625894445566646},
      'tau1': {'mae': 0.31974209125792874, 'r2': 0.021337379025387238},
      'propensity': {'auc': 0.5072623166538086, 'f1': 0.16299704239237595}}},
    'random_idx4': {'cate_true': array([ 0.0071266 ,  0.42334943,  0.11885308, ...,  1.40263868,
            -0.44599299,  0.43901341]),
     'cate_pred': array([-0.00495928,  0.07776867,  0.17294934, ...,  0.07445537,
             0.19851351,  0.11216044]),
     'ate_true': 0.1454709648166056,
     'ate_pred': 0.09811944467350783,
     'cate_mse': 0.8344096302630336,
     'ate_bias': -0.047351520143097764,
     'base_model_eval': {'mu1': {'mae': 0.385654657699436,
       'r2': 0.08130701453354172},
      'mu0': {'mae': 0.2852587677577432, 'r2': 0.030425295979329525},
      'tau0': {'mae': 0.2845477713158111, 'r2': 0.0031185292640583118},
      'tau1': {'mae': 0.38189602016045515, 'r2': 0.02209466152823969},
      'propensity': {'auc': 0.48643913826108676, 'f1': 0.4971417307313227}}},
    'random_idx5': {'cate_true': array([ 0.0071266 , -0.33156902, -0.13083455, ..., -0.08345062,
            -0.22013693, -0.12309126]),
     'cate_pred': array([ 0.05754616,  0.09865621,  0.01034528, ...,  0.11704777,
             0.14935479, -0.00916134]),
     'ate_true': 0.1150924596635593,
     'ate_pred': 0.08384070759352892,
     'cate_mse': 0.7270300934196472,
     'ate_bias': -0.03125175207003038,
     'base_model_eval': {'mu1': {'mae': 0.3236612541137408,
       'r2': 0.08773981205977932},
      'mu0': {'mae': 0.27127951419366214, 'r2': 0.01617547685535381},
      'tau0': {'mae': 0.27136561534559117, 'r2': -0.0037647019931694725},
      'tau1': {'mae': 0.32228796391367787, 'r2': 0.022475276006932665},
      'propensity': {'auc': 0.5025036816023563, 'f1': 0.44169849472028755}}},
    'random_idx6': {'cate_true': array([ 0.13581265,  0.01859975, -0.01528941, ...,  0.1718276 ,
            -0.2025199 , -0.23328487]),
     'cate_pred': array([0.00663943, 0.23425333, 0.10719548, ..., 0.07941986, 0.09975931,
            0.08826139]),
     'ate_true': 0.10842338016300965,
     'ate_pred': 0.0951641703687382,
     'cate_mse': 0.643205806266139,
     'ate_bias': -0.013259209794271448,
     'base_model_eval': {'mu1': {'mae': 0.3064243447371242,
       'r2': 0.10994114281650924},
      'mu0': {'mae': 0.2589926087401561, 'r2': 0.03398619782594825},
      'tau0': {'mae': 0.2551560326986256, 'r2': -0.02353922675036113},
      'tau1': {'mae': 0.3033988371091257, 'r2': 0.058601908218876786},
      'propensity': {'auc': 0.49249980990799547, 'f1': 0.5448601525608427}}},
    'random_idx7': {'cate_true': array([-0.09800848,  0.01964673,  0.11885308, ...,  1.12117897,
            -0.08345062,  0.05523445]),
     'cate_pred': array([ 0.19587006,  0.09752547, -0.0514979 , ...,  0.09668157,
             0.08610461, -0.07942115]),
     'ate_true': 0.13962732961458268,
     'ate_pred': 0.060548801014019354,
     'cate_mse': 0.6146430115480974,
     'ate_bias': -0.07907852860056333,
     'base_model_eval': {'mu1': {'mae': 0.35525500252401454,
       'r2': 0.09275854770657277},
      'mu0': {'mae': 0.27521058009984173, 'r2': 0.04523158442968689},
      'tau0': {'mae': 0.27966006505029317, 'r2': 0.027236476806454468},
      'tau1': {'mae': 0.3523140264031191, 'r2': 0.027432278631979168},
      'propensity': {'auc': 0.4869477579116413, 'f1': 0.5052837573385519}}},
    'random_idx8': {'cate_true': array([ 1.16187434,  0.14004801,  0.01956567, ..., -3.04577956,
             0.05523445, -0.4338563 ]),
     'cate_pred': array([ 0.02669928, -0.08476912, -0.08378973, ...,  0.23370987,
            -0.00498726, -0.09442717]),
     'ate_true': 0.12974416208389994,
     'ate_pred': 0.03732208487940617,
     'cate_mse': 0.6386432462033014,
     'ate_bias': -0.09242207720449377,
     'base_model_eval': {'mu1': {'mae': 0.3400438696412569,
       'r2': 0.10113948655885097},
      'mu0': {'mae': 0.297777593038208, 'r2': 0.026023055961420516},
      'tau0': {'mae': 0.29489949142446564, 'r2': -0.014821483081178366},
      'tau1': {'mae': 0.33672016623368045, 'r2': 0.04372125586637188},
      'propensity': {'auc': 0.4973600925887992, 'f1': 0.6340670704683115}}},
    'random_idx9': {'cate_true': array([ 0.03760702,  0.2885753 ,  1.12633537, ...,  0.71218822,
             0.45455053, -0.09461645]),
     'cate_pred': array([ 0.23074776,  0.2054681 , -0.02816467, ...,  0.15125062,
             0.18354528, -0.00294009]),
     'ate_true': 0.12530238395151086,
     'ate_pred': 0.1209578691485942,
     'cate_mse': 0.7158538656933469,
     'ate_bias': -0.0043445148029166575,
     'base_model_eval': {'mu1': {'mae': 0.3391680523065303,
       'r2': 0.06562426326067006},
      'mu0': {'mae': 0.26043628708495087, 'r2': 0.021854626003499966},
      'tau0': {'mae': 0.2604806843053541, 'r2': 0.0010716929088474547},
      'tau1': {'mae': 0.3386538405857251, 'r2': 0.0015257286054519703},
      'propensity': {'auc': 0.49223470040514605, 'f1': 0.5936087295401403}}},
    'average': {'mean_cate_mse': 0.6877037350378066,
     'std_cate_mse': 0.06776213742446628,
     'mean_ate_pred': 0.09909764534799652,
     'std_ate_pred': 0.04685498278692181,
     'mean_ate_true': 0.12647398109633037,
     'std_ate_true': 0.011173842796182968,
     'mean_ate_bias': -0.027376335748333834,
     'std_ate_bias': 0.04994816697909686,
     'runtime': 0.6574852228164673,
     'base_model_eval': {'mu1': {'mean_mae': 0.3470650642283626,
       'std_mae': 0.028036588971136762,
       'mean_r2': 0.087161585537015,
       'std_r2': 0.01306147997761773},
      'mu0': {'mean_mae': 0.27052357670349425,
       'std_mae': 0.0155051524312609,
       'mean_r2': 0.037360507154894196,
       'std_r2': 0.014517397831414137},
      'tau0': {'mean_mae': 0.27098504164373194,
       'std_mae': 0.014844550053092065,
       'mean_r2': 0.015962538650452707,
       'std_r2': 0.03430610781513235},
      'tau1': {'mean_mae': 0.34499129465856715,
       'std_mae': 0.027940319104424106,
       'mean_r2': 0.023348521260970777,
       'std_r2': 0.01656795170031679},
      'propensity': {'mean_auc': 0.4963270293240517,
       'std_auc': 0.008189582865473454,
       'mean_f1': 0.497386146523938,
       'std_f1': 0.12235251473618342}}}}}}}

In [12]:
def summarize_experiment_results(results_dict):
    records = []

    for setup_name, setup_dict in results_dict.items():
        for scenario_key in setup_dict:
            row = {
                ("setup_name", ""): setup_name,
                ("scenario_key", ""): scenario_key
            }

            for base_model in setup_dict[scenario_key]:
                avg_result = setup_dict[scenario_key].get(base_model, {}).get("average", {})
                mean_mse = avg_result.get("mean_cate_mse", np.nan)
                std_mse = avg_result.get("std_cate_mse", np.nan)
                mean_ate_pred = avg_result.get("mean_ate_pred", np.nan)
                std_ate_pred = avg_result.get("std_ate_pred", np.nan)
                mean_ate_true = avg_result.get("mean_ate_true", np.nan)
                std_ate_true = avg_result.get("std_ate_true", np.nan)
                mean_ate_bias = avg_result.get("mean_ate_bias", np.nan)
                std_ate_bias = avg_result.get("std_ate_bias", np.nan)
                runtime = avg_result.get("runtime", np.nan)

                row[(base_model, "CATE_MSE")] = f"{mean_mse:.3f} ± {std_mse:.3f}" if not pd.isna(mean_mse) else np.nan
                row[(base_model, "ATE_pred")] = f"{mean_ate_pred:.3f} ± {std_ate_pred:.3f}" if not pd.isna(mean_ate_pred) else np.nan
                row[(base_model, "ATE_true")] = f"{mean_ate_true:.3f} ± {std_ate_true:.3f}" if not pd.isna(mean_ate_true) else np.nan
                row[(base_model, "ATE_bias")] = f"{mean_ate_bias:.3f} ± {std_ate_bias:.3f}" if not pd.isna(mean_ate_bias) else np.nan
                row[(base_model, "runtime [s]")] = round(runtime) if not pd.isna(runtime) else np.nan

            records.append(row)

    df = pd.DataFrame.from_records(records)
    df.columns = pd.MultiIndex.from_tuples(df.columns)
    return df

In [13]:
print("T-Learner Results")
summary_df = summarize_experiment_results(results_dict)
summary_df

T-Learner Results

  setup_name scenario_key          ridge                                \
                                CATE_MSE       ATE_pred       ATE_true
0    RCT_0_5   scenario_1  0.688 ± 0.068  0.099 ± 0.047  0.126 ± 0.011


         ATE_bias runtime [s]
0  -0.027 ± 0.050           1